<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <form style="padding: 50px; display: flex; gap:30px" action="/post/create" method="post">
                <input type="text" placeholder="enter media" name="media">
                <input type="text" placeholder="enter caption" name="caption">
                <input type='submit' placeholder="create post">
            </form>
        </div>
    </body>
</html>