<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="display: flex; align-items: center; flex-direction: column; gap:10px;padding: 10px 20px;">
        <form action="/user/register" method="post">
            <input style="padding: 5px 10px;" type="text" placeholder="username" name="username">
            <input style="padding: 5px 10px;" type="text" placeholder="email" name="email">
            <input style="padding: 5px 10px;" type="text" placeholder="password" name="password">
            <input style="padding: 5px 10px;" type="submit" value="register">
        </form>
    </div>
</body>

</html>