<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div style="padding: 10px 20px;">
            <form action="/user/login" method="post">
                <input style="padding: 5px 8px;" type="text" placeholder="email"
                    name="email">
                <input style="padding: 5px 8px;" type="text"
                    placeholder="password" name="password">
                <input style="padding: 5px 8px;" type="submit" value="login">
            </form>
        </div>
    </body>
</html>